* {
    box-sizing: border-box;
}

.main-container {
    background-color:rgb(247, 203, 167);
}

.title {
    padding: 10px;
    text-align: center;
    background-color: #eee;
}

.recipe-container {
    padding: 10px;
}

.image {
    height: 250px;
    width:33%;
    padding: 10px;
    border-radius: 10%;
}